$font-weight-regular: 400;
$font-weight-bold: 700;

$border-radius: .3rem;

// Used the British palette
// https://flatuicolors.com/palette/gb
// If it ain't here we ain't using it
// It's not a patriotic thing Britain is a dump, I just like the palette
$color-electromagnetic: #2f3640;
$color-chain-gang-grey: #718093;
$color-nasturcian-flower: #e84118;
$color-nasturcian-flower--light: lighten($color-nasturcian-flower, 45%);
$color-vanadyl-blue: #0097e6;
$color-protoss-pylon: #00a8ff;
$color-lynx-white: #f5f6fa;

$bp-sm: 48rem;
$bp-md: 75rem;
$bp-lg: 87.5rem;