@import '../../../styles/mixins/typography';

.form {
    margin-bottom: 1rem
}

.title {
    margin-bottom: .8rem;
}

.subtitle {
    @include copy-light;

    margin-bottom: 1.25rem;
}

.button {
    margin-bottom: 1rem;
}